/*-------------------- Main ----------------------*/

@font-face {
	font-family: DB Helvethaica X UlLi;
	src: url("fonts/DB Helvethaica X UlLi v3.2.ttf") format("opentype");
}

@font-face {
	font-family: DB Helvethaica X Med;
	src: url("fonts/DB Helvethaica X Med v3.2.ttf") format("opentype");
}

@font-face {
	font-family: DB Helvethaica X Bd;
	src: url("fonts/DB Helvethaica X Bd v3.2.ttf") format("opentype");
}

body {
	background: url(../image/background.png) no-repeat center center fixed;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	color: #000000;
	overflow-y: hidden;
}

::-webkit-scrollbar {
	height: 10px;
	width: 8px;
	margin-right: 36px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #FFFFFF;
	z-index: 9999;
	cursor: pointer;
	border-radius: 10px;
}

.pagination {
	flex-wrap: wrap;
}

.pointer {
	cursor: pointer;
}
/* ------------------------------- Display -------------------------------*/

.d-flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.d-flex-left {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.d-flex-right {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.d-none {
	display:   none;
}

/* ------------------------------- Position -------------------------------*/

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

/* ------------------------------- Login -------------------------------*/

.login-container h1, .login-container h2 {
	font-family: DB Helvethaica X UlLi;
	color: #FFFFFF;
	font-size: 100px;
	margin-top: 0px;
	line-height: 0.7;
}

.login-container h2 {
	font-size: 36px;
}

.login-input {
	border: 6px solid rgba(255,255,255,0.37);
	border-radius: 8px;
	background-color: rgba(255,255,255,0.37);
}

.login-input input {
	height: 34px;
	font-size: 22px;
	font-family: DB Helvethaica X UlLi;
	color: #000000;
	font-weight: bold;
	border-radius: 3px;
	border-color: transparent;
	padding: 0 40px;
}

.login-input input:focus {
	outline: none;
}

.login-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 9px;
	margin: auto 0;
}

.login-btn {
	font-size: 30px;
	color: #FFFFFF;
	font-family: DB Helvethaica X Bd;
	background-color: #00A8BE;
	border-radius: 8px;
	line-height: 1.3;
	border: none;
	cursor: pointer;
}

.login-btn:focus {
	outline: none;
}

.login-error {
	color: #C1272D;
}

/* ------------------------------- Summary -------------------------------*/

.summary-container h1 {
	font-family: DB Helvethaica X UlLi;
	color: #FFFFFF;
	font-size: 72px;
	margin-top: 0px;
	border-bottom: 1px solid rgba(255,255,255, 0.7);
}

.left-menu-container {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	height: calc(100% - 105px);
	width: 255px;
}

.left-menu {
	color: #FFFFFF;
	font-size: 20px;
}

.left-menu li {
	list-style-type: none;
	border-bottom: 1px solid rgba(255,255,255, 0.7);
	font-family: DB Helvethaica X Med;
}

.left-menu li:last-child {
	border-bottom: none;
}

.left-menu ul > li {
	padding: 15px 0px 10px 40px;
}

.left-menu ul > li:last-child {
	border-bottom: 1px solid rgba(255,255,255, 0.7);
}

.left-menu a, .left-menu span {
	color: #FFFFFF !important;
	font-family: DB Helvethaica X UlLi;
	text-decoration: none !important;
	cursor: pointer;
}

#left-menu svg {
	cursor: pointer;
}

.nav-active {
	width: 255px;
}

.nav-active + #content {
	margin-left: 255px;
}

.nav-inactive + #content {
	margin-left: 4rem;
}

.nav-inactive > div {
	width: auto;
}

.nav-inactive > div > div > ul {
	display: none;
}

.nav-active p {
	display: none;
}

.bar-nav {
	font-size: 20px;
	color: #FFFFFF;
}

#content {
	margin-right: 1rem;
	overflow-y: auto;
	height: calc(100% - 122px);
}

#content::-webkit-scrollbar {
	width: 10px;
	cursor: pointer;
}

#content::-webkit-scrollbar-track {
	background: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}

#content::-webkit-scrollbar-thumb {
	background: #FFFFFF;
	z-index: 9999;
	border-radius: 10px;
	cursor: pointer;
}

#content h2 {
	font-family: DB Helvethaica X UlLi;
	color: #FFFFFF;
}

.hr-header {
	width: 315px;
	border-top: 1px solid rgba(255,255,255, 0.7);
}

.summary-select, .summary-input {
	color: #FFFFFF;
	font-family: DB Helvethaica X Med;
	font-size: 24px;
	line-height: 1;
	width: 20%;
	position: relative;
}

.summary-select select, .summary-input input {
	background-color: transparent;
	width: 100%;
	color: #FFFFFF;
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	font-family: DB Helvethaica X UlLi;
	border: 1px solid rgba(255,255,255, 0.7);
	border-radius: 6px;
}

.summary-select option {
	background-color: rgba(0,0,0,0.7);
}

.summary-select::before {
	content: "\02C5";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 33px;
	height: 33px;
	text-align: center;
	font-size: 20px;
	line-height: 36px;
	border-radius: 6px;
	color: #000000;
	background-color:#FFFFFF;
	pointer-events: none;
	font-family: DB Helvethaica X Med;
}

.summary-select select::-webkit-input-placeholder, .summary-input input::-webkit-input-placeholder {
	color: #FFFFFF;
}

.summary-select select:-ms-input-placeholder, .summary-input input:-ms-input-placeholder {
	color: #FFFFFF;
}

.summary-select select::placeholder, .summary-input input::placeholder {
	color: #FFFFFF;
}

.search-btn, .reset-btn {
	border: 1px solid rgba(255,255,255, 0.7);
	border-radius: 6px;
	background-color: #FFFFFF;
	color: #000000;
	width: 20%;
	height: 33px;
	font-family: DB Helvethaica X Med;
	font-size: 24px;
	line-height: 1;
	cursor: pointer;
}

.search-btn:focus, .reset-btn:focus {
	outline: none;
}

.reset-btn {
	background-color: transparent;
	color: #FFFFFF;
}

.summary-hr {
	border-top: 1px solid rgba(255,255,255, 0.7);
}

.summary-table-container table {
	border: 1px solid #000000;
}

.summary-table-container table thead th {
	border: 1px solid #000000;
}

.summary-table-container th, .summary-table-container td {
	max-width: 100%;
	white-space: nowrap;
	color: #FFFFFF;
	font-family: DB Helvethaica X UlLi;
	font-size: 18px;
	background-color: #001C3F;
}

.summary-table-container td {
	color: #000000;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	font-family: DB Helvethaica X Med;
}

.react-datepicker-wrapper {
	display: block !important;
}

/* ------------------------------- Setting -------------------------------*/

.setting-table-container {
	height: calc(100% - 322px);
	overflow-y: auto;
}

.setting-table-container .table-responsive {
	background-color: #FFFFFF;
}

.setting-table-container table {
	border: none;
}

.setting-table-container th, .setting-table-container td {
	max-width: 100%;
	white-space: nowrap;
	color: #666666;
	font-family: DB Helvethaica X UlLi;
	font-size: 22px;
	border: none;
	background-color: transparent;
}

.setting-table-container td {
	color: #000000;
	font-family: DB Helvethaica X UlLi;
	border-bottom: 1px solid rgba(204,204,204,0.7);
	font-weight: bold;
}
